[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Flask = "*"
peewee = "*"
typing_extensions = "*"

[dev-packages]
flask_datatables = {path = ".",editable = true}
# IPython
ipython = "*"
# Linting
autopep8 = "*"
bandit = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
# Sphinx documentations
Sphinx = "*"
sphinx-autodoc-typehints = "*"
rstcheck = "*"

[requires]
python_version = "3.9"
